html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family:  "Patua One", cursive;
}

figcaption {
  font-size:  .8rem;
  font-style: italic;
  text-align: center;
}

.figclass {
  font-size:  1rem;
}

nav {
  font-weight:  bold;
  font-size: 1.125rem;
}

a {
  text-decoration:  none;
  color: #793284;
  font-family: "Patua One", cursive;

}
a:hover {
  color: #b42885;
  text-decoration:  underline;
}

ol {
  list-style-type: none;
}
